* {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    background-color: #121210;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d9d9db;
    gap: 50px;
}

.div-menu ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.div-menu ul a {
    text-decoration: nome;
    color: #d9d9db;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sessao-01 {
    background-image: url(imagem/ap1.jpg);
    background-position: center;
    padding: 200px;
    justify-content: end;
    color: #121210;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.sessao-01 button {
    width: 230px;
    height: auto;
    padding: 10px;
    background-color: #121210;
    color: #d9d9db;
    border-radius: 7px;

    border-color: transparent;
    font-family: "Spicy Rice", serif;
}

.sessao-02 {
   
    
    background-image: url(imagem/ap07.jpg);
    background-position: center;
  
    padding: 200px;
    justify-content: end;
    color: #121210;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sessao-02 button {
    width: 230px;
    height: auto;
    padding: 10px;
    background-color: #121210;
    color: #d9d9db;
    border-radius: 7px;

    border-color: transparent;
    font-family: "Spicy Rice", serif;
}

footer {
    background-color: #4a362f;
    padding: 50px;

    color: #000000;
    text-align: center;
    line-height: 20px;
    font-family: "Spicy Rice", serif;
}

footer:hover {
    color: #b7ae8f;
    transition: 0.8s;
}